<%- include('begin.ejs') %>
  <header>
    <nav>
      <ul>
        <li><a href="#!">Admin</a></li>
        <li><a href="/admin/add_stuff">Add stuff</a></li>
        <li><a href="/">Shop</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Admin Panel</h1>
  </main>
  <footer>Copyright</footer>
<%- include('end.ejs') %>
