extends base.pug
block title
  Admin
block body
  header
    nav
      ul
        li
          a(href="#!") Admin
        li
          a(href="/admin/add_stuff") Add stuff
        li
          a(href="/") Shop
  main
    h1 Admin
  footer Copyright
