extends base.pug
block title
  Shop
block body
  header
    nav
      ul
        li
          a(href='#!') Shop
        li
          a(href='/stuff') Stuff
        li
          a(href='/admin') Admin
  main
    h1 Shop
  footer Copyright
