<%-include('begin.ejs')%>
  <header>
    <nav>
      <ul>
        <li><a href="#!">Shop</a></li>
        <li><a href="/stuff">Stuff</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Shop</h1>
  </main>
  <footer>Copyright</footer>
<%-include('end.ejs')%>
